@import url('https://fonts.googleapis.com/css?family=Roboto');


body { font-family: Roboto; }

h1 {
	text-align:center;
}
h2 {
    color: blue;
}

ul {
	list-style-type: circle;
}

h2.pagelabel {
	text-align: right;
}


.o { font-weight:bold; }


div.step {
	border: 1px solid black;
}

div.action, div.observation { border: 1px solid black; }
div.action { float: left; }
div.observation { float: left; }



fieldset {
	padding: 2px;
	border: 1px solid black;
}

fieldset.loose_group {
	border: 0;
}

fieldset.databits {
	border: 0;
	float: left;
}

fieldset.databit {
	border: 0;
	font-size: smaller;
	white-space: nowrap;
}

fieldset.tight_group {
	float: left;
}

fieldset.stacked {
	clear: both;
}

fieldset.subflags {
	float: right;
	border: 0;
}

fieldset.dragon {
	float: left;
	border-width: 3px;
	border-style: solid;
	border-color: lightgray;
}


img.listing {
	float: left;
}

img.dragon_large {
	width: 300px;
	height: 300px;
}

legend { background: white; }



div.menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
}
div.menubar li {
    float: left;
}
div.menubar li a{
	target: _blank;
    display: block;
    color: black;
    text-align: center;
    padding: 6px 25px;
    text-decoration: none;
    border: 1px solid white
}
div.menubar li a:hover {
    background-color: white
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table {
	border-collapse: collapse;
	clear: both;
}

table, th, td {
	border: 1px solid black;
       padding: 10px;
}

table { width: 100%; }

table.fieldtable {
	width: 100%;
	border-collapse: collapse;
}


/*
tbody:nth-child(odd) td { background-color: #e0e0e0; }

tbody:nth-child(even) td:not(.pass) { background-color: #f2f2f2;}


td.o {background-color: white; }
*/


tr td:nth-last-child(-n+3) {
   text-align: center;
   vertical-align: middle;
   width: 35px;
}

/* This works if I don't set the background color through tbody and tr */
.pass { background-color: #ccffcc; }
.fail { background-color: #ffcccc; }
.not_done { background-color: #ffffcc; }


