@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100,900");
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  width: 960px;
  margin: auto;
  padding: 0 0 200px 0;
}

pre, tt, code {
  font-family:monospace;
  background: #f0f0f0;
  padding: 1px 3px;
  border: 1px solid #c0c0c0;
}
tt, code {
  white-space: nowrap;
  font-size: small;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

table {
  border-collapse: collapse;
  margin: 20px 0;
}

td, th {
  border: 1px solid #a0a0a0;
  padding: 8px;
}

div.slide-in {
  float: right;
}

table.overview {
  width: 100%;
  table-layout: fixed;
}
table.overview td {
  vertical-align: top;
}
table.overview th.tasklist {
  width: 45%;
}

table.overview ul li,
table.overview ol li {
  list-style-type: none
}
table.overview h2 {
  font-size: 100%;
}
table.overview ol {
  font-size: small;
}
table.overview td.wodo-progress {
  font-size: small;
}

div.wodo-summary {
    position: fixed;
    background: rgb(255,255,255,0.9);
    right: 10px;
    bottom: 10px;
    padding: 10px;
}
table#wodo-summary {
  width: 600px;
  font-size: small;
  color: #404040;
  margin: 0;
}
table#wodo-summary th {
  text-align: left;
}
table#wodo-summary ol li {
  list-style-type: none
}
table#wodo-summary td.tl-name {
  font-weight: bold;
  text-decoration: underline;
}

div.wodo-progress {
  width: 100%;
  background: #f0f0f0;
  border: 1px solid #a0a0a0;
}

div.wodo-progress > span {
  padding: 0;
  border-right: 1px solid #a0a0a0;
}
span.wodo-progress-passed {
  background: #00d000;
}
span.wodo-progress-failed {
  background: #ff2020;
}
span.wodo-progress-skipped {
  background: #ffff00;
}


table#wodo-steps {
  width: 100%;
}

table#wodo-steps td,
table#wodo-steps th {
  border-color: #c0c0c0;
}

table#wodo-steps td:first-child a {
  color: #808080;
  text-decoration: none;
}

table#wodo-steps td:first-child a:hover {
  text-decoration: underline;
}

table#wodo-steps td:nth-child(2) {
  overflow: auto;
}

table#wodo-steps tr.h {
  background: #f0f0ff;
}

table#wodo-steps tr.h td:nth-child(2) {
  padding: 30px 0 30px 50px;
  font-size: 120%;
  font-weight: bold;
  color: #4040ff;
}
table#wodo-steps tr.h td:nth-child(2)::before {
  content: "\2605   "
}
table#wodo-steps tr.h td:nth-child(2)::after {
  content: "   \2605"
}

table#wodo-steps td:nth-child(3),
table#wodo-steps td:nth-child(4),
table#wodo-steps td:nth-child(5) {
  width: 60px;
  text-align: center;
}

table#wodo-steps td:nth-child(6) {
  width: 80px;
  text-align: center;
  font-size: small;
}

table#wodo-steps col.passed {
  background: #ccffcc;
}
table#wodo-steps col.failed {
  background: #ffcccc;
}
table#wodo-steps col.skipped {
  background: #ffffcc;
}
